[submodule "tree-sitter-go"]
	path = tree-sitter-go
	url = git@github.com:tree-sitter/tree-sitter-go.git
[submodule "go"]
	path = go
	url = git@github.com:golang/go.git
[submodule "tools"]
	path = tools
	url = git@github.com:golang/tools.git
